nav.nav-container
    .main-nav
        h1.logo
            a(href='/') Voting App
        h1.nav-toggle &#9776;
    .nav-list(style='display: none;')
        a(href='/') Home
        a(href='/') About
        a(href='/') Contact
        a(href='/') Details
