nav.nav-container
    .main-nav
        h1.logo
            a(href='/') Voting App
        h1.nav-toggle &#9776;
    .nav-list(style='display: none;')
        a(href='/') Home
        if !user
            a(href='/login') Login
        else
          
            a(href='/create') Create Poll
            a(href='/profile') Profile
            a(href='/users/logout') Logout
