extends layout

block content
    if polls.length
        h1.title Poll List
        for poll in polls
            h2
                a(href='/polls/' + poll._id)= poll.text
    else
        h1 There are no polls yet!
