doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/nav.css')
    body
        include partials/navbar
        block content

        script(src='/js/nav.js')
