doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/nav.css')
        block stylesheets
          
    body
        include partials/navbar
        .main-container
            block content

        script(src='/js/nav.js')
