extends layout

block content
  h1.title
    p= user.name
    p= user.email
  for poll in polls
    h2
      a(href='/polls/' + poll._id) #{poll.text} (votes: #{poll.voted.length})&nbsp;
      button#delete(data-url='/polls/' + poll._id) X

block scripts
  script(src='/js/profile.js')
