extends layout

block content
  h2= user.name
  h2= user.email
  for poll in polls
    h2
      a(href='/polls/' + poll._id) #{poll.text} (votes: #{poll.voted.length})
      button#delete(data-url='/polls/' + poll._id) Remove

block scripts
  script(src='/js/profile.js')
