extends ../layout

block content
    .newPoll
        label Question
        input(type='text', name='text', placeholder='what would you like to ask?')
        button#addOption +
        label option 1
        input(type='text', name='option')
    button.createPoll Create Poll
      
    script(src='/js/createPoll.js')
