extends ../layout

block content
    h2= poll.text
    .poll-options
        for opt in poll.options
            .option(data-option=opt.text)
                p= opt.text

    script(src='/js/prevote.js')
