extends ../layout

block content
    h2= poll.text
    for opt in poll.options
        form(method='POST', action='/polls/' + poll.id)
            p #{opt.text}
            input(type='text' name='option' value=opt.text hidden)
            input(type='submit' value='Vote')
